@page "/fridges"

@using SmartFridgeApp.Blazor.Data
@inject FridgesService FridgesService

<h1>Fridges</h1>


@if (fridges == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fridge in fridges)
            {
                <tr>
                    <td>@fridge.Name</td>
                    <td>@fridge.Number</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Fridge[] fridges;

    protected override async Task OnInitializedAsync()
    {
        fridges = await FridgesService.GetFridgesAsync();
    }
}


